.desk{
    width: 50vw;
    height: 100%;
    margin-top: -10%;
}
.skillInfo{
background-color: var(--bg);
height: auto;
margin: 15% 30px;
color:var(--text);

}
h1,h2,h3,h4,p{
    color: var(--text);
    text-shadow: var(--textShadow);
}
.skillsSplit{
    display: flex;
}
@media only screen and (max-width: 600px) {
   .skillsSplit{
       display: block;
   }
   h1,h2,h3,h4,p{
    margin-left: 5vw;
    }
    .desk{
        margin: 0 20vw;
    }
  }