.desk{
    width: 50vw;
    height: auto;
    margin-top: -20%;
}
.skillInfo{
background-color: var(--bg);
height: auto;
margin: 15% 30px;
color:var(--text);

}
h1,h2,h3,h4,p{
    color: var(--text);
    text-shadow: var(--textShadow);
}