.software-skills{
  width: 100vw;
  position: fixed;
  top: 5%;
  display: inline-block;
  z-index: -999;
}
.dev-icons {
  margin: 0;
  list-style: none;
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
.imgSkills{
  width: 10vw;
  display: block;
}

.bgIcon {
  color: var(--bg3);
  font-size: .5em;
  opacity: .4;
  text-align: center;
}


.bgSpan{
  margin-top: -30px;
  font-size: .2em;
  color: var(--bg3);
  text-shadow: none;
  opacity: .4;
  text-align: center;
}

@media only screen and (max-width: 500px) {
 .dev-icons{
   font-size: 5em;
 }
 .bgSpan{
  display: none;
}
.imgSkills{
  width: 25vw;
}
}
