body {
    --bg: white;
    --bg2: rgb(43, 44, 49);
    --bg3: black;
    --nav: rgb(5, 57, 103);
    --textNormal: #222;
    --textTitle: rgb(125, 108, 108);
    --text: darkgrey;
    --text2: black;
    --standout: rgb(145, 53, 53) ;
    --tv:none;
    --Tv:rgb(66, 56, 56);
    --textShadow: rgb(33, 102, 198) 1px 1px;
    --highlight:gold;
    width: 100vw;
    overflow: hidden;
     background-color: var(--bg);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
    --nav : black;
    --bg: rgb(62, 53, 53);
    --bg2: rgb(44, 28, 29);
    --bg3: #868e96;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textLink: rgb(234, 235, 224);
    --tv:rgb(231, 233, 215);
    --Tv:rgb(128, 20, 20);
    --hr: hsla(0, 0%, 100%, 0.2);
    --text: rgb(193, 184, 184);
    --text2: rgb(108, 108, 238);
    --standout: rgb(214, 204, 146) ;
    --textShadow: rgb(225, 30, 30) .7px .7px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



  /* -------------typography adjustments---------------- */

  a{
    
    text-decoration: none;
    background-image: none;
  }
  a.dark{
    text-shadow: white 2px 2px;
  }
  p{
    color: rgb(38, 109, 209);
    text-shadow: silver .5px .5px;
  }
  .TvBackground{
   height: 40%; 
  }
  .computer{
    font-family: 'Press Start 2P', cursive;

  }
  element.style{
    padding: 0;
  }
  .skillz{
    border-color: blue;
  }

  .contactIcons > svg{
    text-align: center;
  }
  .contactIcons:hover{
    background-color: rgb(115, 115, 38);
    color: rgb(245, 236, 236);
  }
  .contactIcons .IconSpan{
    visibility: hidden;
    width: 120px;
    /* background-color: black; */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: .8em;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .contactIcons:hover .IconSpan{
    visibility: visible;
  }

 
  


  
  
 