body {
    --bg: white;
    --nav: rgb(17, 110, 193);
    --textNormal: #222;
    --textTitle: #222;
    --text: darkgrey;
    --text2: black;
    --standout: rgb(145, 53, 53) ;
    --hr: hsla(0, 0%, 0%, 0.2);
    --dropshadow: black;
    background-color: var(--bg);
    --textShadow: black 1px 1px;
    --highlight:gold;
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
    --nav : black;
    --bg: rgb(62, 53, 53);
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textLink: yellow;
    --hr: hsla(0, 0%, 100%, 0.2);
    --text: rgb(16, 107, 164);
    --text2: rgb(108, 108, 238);
    --standout: rgb(214, 204, 146) ;
    --textShadow: rgba(248, 237, 237, 0.653) .7px .7px;
  }



  /* -------------typography adjustments---------------- */

  a{
    
    text-decoration: none;
    background-image: none;
  }
  a.dark{
    text-shadow: white 2px 2px;
  }
  p{
    color: rgb(38, 109, 209);
    text-shadow: silver .5px .5px;
  }

 
  


  
  
 